.tableInLine {
    max-width: 75rem;
    width: 98%;
    display: grid;
    grid-template-columns: 43% 56%;
    grid-gap: 1%;
    border-radius: 15px;
    padding: 0;
    margin: 0 auto;
    margin-top: 15px;
}
.marketContainer {
    max-width: 75rem;
    width: 98%;
    display: grid;
    grid-template-columns: 100%;
    border-radius: 15px;
    padding: 0;
    margin: 0 auto;
    margin-top: 15px;
}
div.col-sm-12{
    margin: 0;
}
.tableInLine #distTable{
    padding: 0;
    margin: 0;
}

.tableInLine #wardTable{
    padding: 0;
    margin: 0;
}
div.dataTables_wrapper {
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
caption .btn-insert {
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 25px;
    font-size: 1.2rem;
}
.dataTables_paginate .pagination li a:focus{
    box-shadow: none;
}
.btn{
    padding: 0px;
}
.uk-table-hover tbody .odd:hover td {
    transition: 0.2s;
    background-color: #4FC3F7;
}
.uk-table-hover tbody .even:hover td {
    transition: 0.2s;
    background-color: #F48FB1;
}
.uk-table tr th{
    color: black;
    font-weight: bold;
    text-align: center;
}
.uk-table tr td{
    text-align: center;
}
.uk-table tr td a{
    border-radius: 3px;
    padding: 0px 8px;
    text-decoration-line: none;
    background-color: white;
}


.dataTables_paginate .pagination li.active a {
    background: #42A5F5;
    font-weight: bold;
    color: #fff;
    border-color: #42A5F5;
}
.dataTables_paginate .pagination li.disabled a {
    background-color: #EC407A;
    border-color: #EC407A;
}
.dataTables_paginate .pagination li a {
    color: black;
}
.dataTables_paginate .pagination li:hover a{
    background-color: #EC407A;
    border-color: #EC407A;
}
.dataTables_paginate .pagination li.disabled a {
    background-color: #EC407A;
    border-color: #EC407A;
    font-weight: bold;
    color: #fff;
}
