.projectForm form .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.containerWork{
    max-width:60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    background-color: #FFC107;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.containerWork .title{
    color: white;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 25px;
}
.containerWork .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.projectForm form .project-infor .input-box{
    margin-bottom: 15px;
}

.projectForm form .block_1 .input-box{
    width: 100%;
}
.projectForm form .block_1 .input-box:nth-child(3){
    width: 49%;
}
.projectForm form .block_1 .input-box:nth-child(4){
    width: 49%;
}

.projectForm form .block_2 .input-box{
    width: 100%;
}
.projectForm form .block_3 .input-box{
    width: 100%;
}
.projectForm form .block_4 .input-box{
    width: 100%;
}
.projectForm form .block_4 .input-box input{
    height: 30px;
    border: none ;
    border-radius: 5px 5px 0 0 ;
    width: 100%;
}
.projectForm form .block_4 .input-box .progress{
    width: 100%;
    border-radius: 0 0 5px 5px;
    height: 15px;
    color: black;
}
.projectForm form .block_4 .input-box .progress .progress-bar{
    color: #880E4F;
    font-weight: bold;
    font-size: 14px;
}
