
::selection{
    background: rgba(23,162,184,0.3);
}
.contentChart{
    display: flex;
    width: 100%;
    height: 600px;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}

.contentChart nav{
    position: relative;
    width: 200px;
    height: 50px;
    align-items: center;
}
.contentChart nav label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #17a2b8;
    font-size: 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.contentChart nav label:hover{
    background: rgba(23,162,184,0.3);
    background-repeat: no-repeat;
    background-size: 90%;
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
#about:checked ~ nav label.about{
    color: #fff;
}
.selectContent .content{
    display: none;
    background: #fff;
}
#home:checked ~ .selectContent .content-1,
#blog:checked ~ .selectContent .content-2,
#code:checked ~ .selectContent .content-3,
#help:checked ~  .selectContent .content-4,
#about:checked ~ .selectContent .content-5
{
    display: block;
}
nav label i{
    padding-right: 7px;
}

nav .slider{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    border: 2px solid white;
    border-radius: 5px;
    background: #17a2b8;
    transition: all 0.3s ease;
}
input[type="radio"]{
    display: none;
}
nav ul li{
    list-style-type: none;
}
#blog:checked ~ nav .slider{
    top: 100%;
}
#code:checked ~ nav .slider{
    top: 200%;
}
#help:checked ~ nav .slider{
    top: 300%;
}
#about:checked ~ nav .slider{
    top: 400%;
}
.selectContent{
    border: 1px solid;
    width: 100%;
    margin-left: 10px;
}




